<div class="site-explain">
  <div class="sentence">
    <h1>自分のスキルにないことはお願いしてみませんか？</h1>
    <p>作曲はできるけど、作詞はできない…。</p>
    <p>写真は撮れるけど、加工できない…。</p>
    <p>実現したい企画はあるけど、自分のスキルがなくて先が見えない…。</p>
    <h2>クリエイター同士で協力して、そんな悩みを解決しましょう！</h2>
  </div>
</div>

<div class="contents-wrapper">
  <div class="contents">
    <ul class="list">
      <li class="content-a"><%= link_to "依頼一覧", requests_path %></li>
      <li class="content-b"><%= link_to "チャットルーム", rooms_path %></li>
      <li class="content-c">ContentC</li>
    </ul>
  </div>
</div>