.site-explain{
  text-align: center;
  padding: 50px;
}

.site-explain h2{
  line-height: 50px;
}

ul{
  text-align: center;
  padding: 60px 0px;
  align-items: center;
  height: 70px;
}

.point{
  font-size: 20px;
}

.list{
  color: white;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
  margin: 80px auto;
  padding: 0;
  width: 500px;
}

.list li{
  color: black;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  margin-right: 10px;
  font-size: 20px;
  margin: 0.2em;
  padding: 0.5em;
  width: 200px;
  height: 200px;
  line-height: 200px;
}

.sentence{
  color: #00164a;
}

.content-a{
  background-color:#eee;
}
.content-b{
  background-color: #eee;
}
