.follow-wrapper{
  width: 100%;
}


.follow-number-list li{
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  margin-bottom: 5px;
}


.follow-member{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.follow-member li{
  padding: 15px;

}

.follow-border{
  border: 1px solid #cccccc;
  padding: 3px 10px;
  background-color:#fffc;
}

.follower-border{
  border: 1px solid #cccccc;
  padding: 3px 10px;
  background-color:#fffc;
}

.member{
  font-weight: bold;
}



