.follow-wrapper{
  width: 100%;
}

.follow-number-list{
  display: flex;
  justify-content: center;
}

.follow-number-list li{
  margin-left: 10px;
  font-size: 14px;
}


.follow-member{
  // padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.follow-member li{
  padding: 15px;
}